<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Region</th>
      <th scope="col">Country</th>
      <th scope="col">Item</th>
      <th scope="col">Order Id</th>
      <th scope="col">Unit Sold</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Unit Cost</th>
      <th scope="col">Total Revenue</th>
      <th scope="col">Total Profit</th>
      <th scope="col">Total Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |s| %>
      <tr>
        <td><%= s.region %></td>
        <td><%= s.country %></td>
        <td><%= s.item %></td>
        <td><%= s.order_id %></td>
        <td><%= s.unit_sold %></td>
        <td><%= s.unit_price %></td>
        <td><%= s.unit_cost %></td>
        <td><%= s.total_revenue %></td>
        <td><%= s.total_profit %></td>
        <td><%= s.total_cost %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @sales %>
