/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.container-form{
  margin-top: 100px;
  width: 60%;
  border: 1px solid #212529;
  padding-left: 40px;
}

.container-form form{
  padding-bottom: 85px;
  padding-top: 50px;
  padding-left: 100px;
}
.table {
    color: #fff;
    background-color: #8198af;
    border-color: #454d55;
    margin-top: 60px;
}
.table .thead-dark th {
    background-color: #1d4a75;
}
