<div class='container-form'>
  <%= form_for @uploaded_file, url: sales_path, method: :post do |f| %>
    <%= render 'errors', object: f.object %>
    <div class="form-group">
      <%= f.file_field :file, accept: "application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", class: "form-control-file"  %>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
  <%end%>
</div>
