<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <div class="navbar-header">
      <%= link_to 'Uploader App', "#", :class => "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav mr-auto">
    </ul>
    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><%= link_to 'LogOut', destroy_user_session_path, method: :delete, class: "nav-link" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><%= link_to 'Upload New File', new_sale_path, class: "nav-link" %></li>
      </ul>
    <% end %>
  </div>
</nav>
