<!DOCTYPE html>
<html>
  <head>
    <title>UploadApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <% flash.each do |key, value| %>
      <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= value %>
      </div>
    <% end %>

    <div class="container-fluid">
      <div id="notifications">
      </div>
      <%= yield %>
    </div>
  </body>
</html>
